@using BrightPay.TakeHome.Web.Features.Checkout.Projection

<li class="sale-line" data-sku="@Line.Sku">
    <div class="line-info">
        <p class="line-name">@Line.Name <span class="line-sku">@Line.Sku</span></p>
        @if (Line.OfferLabel is not null)
        {
            <p class="line-meta"><span class="offer-badge">@Line.OfferLabel</span></p>
        }
    </div>
    <QuantityStepper Sku="@Line.Sku" Name="@Line.Name" Quantity="@Line.Quantity" />
    <div class="line-amounts">
        <span class="line-price">@Line.Total</span>
        @if (Line.PreOfferTotal is not null)
        {
            <span class="line-was">@Line.PreOfferTotal</span>
        }
    </div>
</li>

@code {
    [Parameter]
    public required CheckoutReceiptLineView Line { get; set; }
}
